@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.buttons {
    margin: 20px;
}

main button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}

.result {
    margin: 20px;
    font-size: 20px;
    min-height: 30px;
}

.score {
    font-size: 18px;
    margin-top: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

@utility transition {
    transition: .3s all;
}

.dino_jump{
      animation: dinoJump 1s forwards 1 ease-in-out;
}

.cactus_animation {
    animation: cactus_move 3s forwards infinite linear;
}

@keyframes dinoJump {
    0% {
        bottom: 0
    }
    50% {
        bottom: 150px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes cactus_move {
    from {
        right : -60px;
    }
    to{
        right: 100%
    }
}